a {
    color: $heathbar;
    &:hover {
        color: $dreamcicle;
    }
}

h2 {
    font-size: 1.7em;
    margin-top: 0;
}

body {
    //font-family: 'Open Sans', Arial, sans-serif;
    font-family: 'Noto Sans', Arial, sans-serif;
}

h1 {
    font-family: 'Playball', Arial, serif;
}
