// For Contact Form Jumbotron
.contact-area {
    text-align: left;
    background-image: none;
    border-bottom: 0;
    color: $black;
}

.form-legend {
    //text-align: center;
    //color: $black;
}

.form-control {
    color: $black;
}

#contact {
    @media (min-width: 768px) {
        background-color: $dimgray;
        color: $white;
    }
}

.center-buttons {
    text-align: center;
}

// Fix form-group behavior. Negative margin is applied if in a .form-horizontal
.form-horizontal .form-group {
    margin-left: auto;
    margin-right: auto;
}

// Align labels to left on form. Bootstrap aligns it right by default.
.form-horizontal .control-label {
    @media (min-width: 768px) {
        text-align: left;
        margin-bottom: 5px;
    }
}

legend {
    text-align: center;
    color: black;

    @media (min-width: 768px) {
        color: $white;
    }
}

#heardabout {
    @media (min-width: 768px) {
        background-color: $dimgray;
    }
}

#amount {
    color: $black;
    @media (min-width: 992px) {
        margin-left: -150px;
    }
}

label {
    @media (min-width: 768px) {
        color: $white;
    }
}
