    .orderform {
        background-image: none;
        background-color: $white;
        color: $black;
        border: 0;

        @media (min-width: 768px) {
            background-color: $mine-shaft;
            color: $white;
        }
    }
